
__pycache__/
.DS_Store
.vscode/
.ipynb_checkpoints

/log
/inference/outputs
/keyword/ShareGPT4V
/keyword/llama_sharegpt4v_keywords
jupyter-gpu.slurm

/TaskMeAnything/demo/cache
/TaskMeAnything/TaskMeAnything-v1-source

*.out
/keyword/*.pkl
/venv