datasets
hnswlib
qwen_vl_utils
pillow
ftfy
regex
tqdm
transformers
accelerate
flash_attn @ https://github.com/Dao-AILab/flash-attention/releases/download/v2.8.3/flash_attn-2.8.3+cu12torch2.8cxx11abiTRUE-cp312-cp312-linux_x86_64.whl
matplotlib
torch==2.8.0
torchvision==0.23.0
openai
scikit-learn
open_flamingo